@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-logo: "Playfair Display", serif;
  --font-arabic: "Cairo", sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900;
}

/* Custom scrollbar for categories */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
